/* Page layout */
.loginContainer {
  /* height: 100vh; */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f8de6c, #ff9114);
  font-family: Arial, sans-serif;
  min-height: calc(100vh - 50px); /* Adjust for menubar height */
  padding: 20px;
  box-sizing: border-box;
  /* width: 100%;
  max-width: 500px; */
}

/* Card */
.loginCard {
  background: rgb(255, 184, 4);
  padding: 2rem;
  border-radius: 12px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

/* Title */
.loginTitle {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Inputs */
.inputGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.inputGroup input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
.loginButton {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 6px;
  background: #667eea;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.loginButton:hover {
  background: #5a67d8;
}

.loginButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Error */
.error {
  color: red;
  margin-top: 0.5rem;
  text-align: center;
}

.toggle-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

.toggle-link {
  color: #667eea;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.page {
	margin-top: 50px;
}